/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e3f2fd;
}

.container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.media-icons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translatX(-100%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.266, 1.55);
}

.close-btn.open .media-icons {
    transform: translatX(0);
}

.media-icons a {
    text-decoration: none;
    position: relative;
    height: 35px;
    align-items: center;
    width: 35px;
    justify-content: center;
    display: flex;
    border-radius: 6px;
    margin: 6px;
    transform: translatX(-100%);

}

.media-icons a .tooltip {
    position: absolute;
    left: 55px;
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    transform: translateY(-25px);
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

a .tooltip::before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -5px;
    background-color: #fff;


}

a:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
}

.media-icons a i {
    color: #fff;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
    width: 35px;
    background-color: #de0611;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    background-color: #8e36ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.266, 1.55);
}

.close-btn.open {

    background-color: #de0611;
}

.close-btn.open .media-icons {
    transform: translatX(0);
}